<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>###TITLE_PREVIEW###</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	###ADMINPANEL_HEADER###
</head>
<body style="margin: 0; padding: 0; background-color: #dadada;">

<div id="typo3-docbody">
	<div id="typo3-inner-docbody" style="height: 100%;">
		<iframe src="index.php?###QUERY###&TSFE_ADMIN_PANEL[action]=responsive_preview" id="view_frame"
			style="background-color: #ffffff; border: none; display: block; margin: 0 auto; height: ###HEIGHT###; width: ###WIDTH###"></iframe>
	</div>
</div>
###ADMINPANEL###

</body>
</html>