<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title>Untitled</title>
</head>
<body>

<!-- ###FULLDOC### begin -->
<div class="typo3-fullDoc">
	<div id="typo3-docheader">
		<div id="typo3-docheader-row1">
			<div class="buttonsleft">###LABEL_SIZE_SELECT###: ###SIZE_SELECT### ###BUTTONLIST_LEFT###</div>
			<div class="buttonsright">###BUTTONLIST_RIGHT###</div>
		</div>
		<div id="typo3-docheader-row2">
			<div class="docheader-row2-left"></div>
			<div class="docheader-row2-right">###PAGEPATH######PAGEINFO###</div>
		</div>
	</div>
</div>
<!-- ###FULLDOC### end -->

<!-- ###BUTTON_GROUP_WRAP### -->
<!-- Wrapper for button group -->
<div class="buttongroup">###BUTTONS###</div>
<!-- ###BUTTON_GROUP_WRAP### -->

<!-- ###BUTTON_GROUPS_RIGHT### -->
<!-- ###BUTTON_GROUP1### --><a href="javascript:" onclick="window.parent.document.getElementById('view_frame').contentWindow.location.reload();">###ICON_REFRESH###</a>###ICON_SHORTCUT###<!-- ###BUTTON_GROUP1### -->
<!-- ###BUTTON_GROUPS_RIGHT### -->

</body>
</html>